body{
    margin: 0px;
    background-color: black;
    background-image: url(../img/back.png);
    background-attachment: fixed;
    background-size: cover;
}
.logo{
    position: relative;
    top: 10px;
    left: 26px;
    width: 300px;
    height: 140;
    z-index: 2;
}
.header{
    position: fixed;
    display: flex;
    width:100%;
    top: 0px;
    background: linear-gradient( 
		#000000e5, 
		#00000000);
}

@font-face {
    font-family: gkktt;
    src: url("../font/851Gkktt_005.ttf") format("truetype");
  }
main{
    position: relative;
    top: 150px;
    text-align: center;
    z-index: 1;
}
  
  @keyframes blurAnime{
    from {
    filter: blur(20px);
    transform: scale(1.02);
    }
  
    to {
    filter: blur(0);
    transform: scale(1);
    }
}
.test-in{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.p8{
    color: white;
    position: relative;
    left: 350px;
    text-align: center;
    font-size: 60px;
    font-family: gkktt;
    padding-bottom: 30px;

    animation-name:blurAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
  }

  .p9{
    position: relative;
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: gkktt;
    top: 100px;
    /* padding: 0px 495px 70px 495px; */
    z-index: 1;
  }
  .button-all{
    position: relative;
    top: 150px;
  }
  .btn1{
    position: relative;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: gkktt;
  }